@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #343a40;
}

body {
  min-height: 100vh;
  color: #fff;
}

#root {
  min-height: 100vh;
  width: 100%;
  background-color: #343a40;
}

.container {
  background-color: #343a40;
  color: #000000;
}

.card {
  background-color: #495057;
  color: #ffffff;
}

.card-title, .movie-title {
  font-family: 'Crimson Pro', serif;
  font-weight: 1000;
  font-size: 1.5rem;
  color: #ffffff;
}

.navbar.custom-navbar {
  background-color: #000000;
  border: none;
  padding: 0.5rem 1rem;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  
  .navbar-brand {
    color: #ffffff;
    font-family: 'Crimson Pro', serif;
    font-weight: 600;
    font-size: 1.5rem;
    &:hover {
      color: #ffffff;
    }
  }
  
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
    &:focus {
      box-shadow: none;
    }
  }
  
  .nav-link {
    color: rgba(255, 255, 255, 0.8);
    &:hover {
      color: #ffffff;
    }
  }

  .container {
    background-color: transparent;
  }

  .search-form-wrapper {
    flex: 1 1 auto;
    max-width: 100%;
    min-width: 0;
    
    @media (min-width: 992px) {
      flex: 1 1 70%;
      max-width: 800px;
    }
    
    .search-input {
      flex: 1 1 auto;
      min-width: 200px;
      max-width: 100%;
      width: 100%;
    }
  }

  // On smaller screens (below lg breakpoint), ensure search bar is in hamburger menu
  @media (max-width: 991.98px) {
    .search-form-wrapper {
      width: 100%;
      margin: 0.5rem 0 !important;
      flex: 0 0 auto;
      
      .search-input {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.btn-primary:not(.btn-success):not(.btn-danger) {
  background-color: #0a6b75;
  border-color: #0a6b75;
  
  &:hover, &:focus {
    background-color: #085057;
    border-color: #085057;
  }
}